@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

.heading{
    text-align: center;
    font-family: 'Alfa Slab One', serif;
    font-size: 50px;
    font-weight: 100;
    line-height: 68px;
}
.font{
    font-family: 'Alegreya SC', serif;
    font-weight: 400;
    margin: 20px 100px;
    line-height: 35px;
    font-size: 20px;
}

