@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&family=Aleo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&family=Aleo&family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');



:root {
  --paraa-font-family:'Alegreya SC', serif;
  --head-font-family:'Alfa Slab One', serif;
  --bottom-font-family:'Aleo', serif;
  --footer-font-family:'Alef', sans-serif;
  --job-font-family:'Amaranth', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--head-font-family);
}

body{
  padding: 0;
  font-weight: 100;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y:scroll;
}
body::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8); /* Change the color as needed */
}

/* Header position */
.head-style{
  font-family: var(--head-font-family);
} 


/* hover for header */

.active-link {
  background-color:blue;   
  padding: 15px 15px;
  border-radius: 30px;
  position: relative;
  top: -15px;
}


  /* home page  */

/* linear gradient for images flex */
  .one{
    background: linear-gradient(90deg, rgba(255,255,255,0.6), rgba(204, 204, 204, 0.1) 100%);
  }
  .two{
    background: linear-gradient(270deg, rgba(255,255,255,0.9), rgba(204, 204, 204, 0.4) 100%);
  }

  .explore-btn{
  background: rgba(38, 86, 255, 1);
  font-family: var(--head-font-family);
  
  }
  .explore-btn:hover {
    animation: rotate .4s ease-in-out;
  }

@keyframes rotate{
  0%{
    transform: rotate(60deg);
  }
  50%{
    transform:rotate(270deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
@media (pointer: coarse) {
  .explore-btn:hover {
      animation: none; /* Disable the shake animation on touch devices */
  }
}



/* home-page  explore  1,2,3,4,5 */
.para{
  font-family: var(--paraa-font-family);
}
.para-smallcase {
  font-family:'Alegreya', serif;
}
.bottom-aleo{
  font-family: var(--bottom-font-family);
}





/* Service page */
.image--contact{
  top: 60%;
}
.image--contact--service8{
  top:70%;
}
/* hover for service page  */

.hover-link:hover {
  animation: shake 0.2s ease-in-out;
  filter: contrast(200%);

}
@keyframes shake {
  0%, 100% {
      transform: translateY(0);
  }
  25%, 75% {
      transform: translateX(-4px);
  }
  50% {
      transform: translateY(-5px);
  }
}
@media (pointer: coarse) {
  .hover-link:hover {
      animation: none; /* Disable the shake animation on touch devices */
  }
}




/* carrer page */
.carrer-align{
  top:150px;
  left:80px;
  color: rgb(255, 255, 255);
  font-weight: 900;
 
}
/* carrer page -JOBS application  */ 
.carrer-align:hover{
  box-shadow: 0px 0px 40px 10px rgb(255, 255, 255);
  border-radius: 10px;
}
/*  apply menu  carrer page*/
.carrer-hover:hover{
  filter: invert(100%);
  transition: filter 0.3s ease;
}

.job-styl{
  font-family: var(--paraa-font-family)
}
.job-jd{
  font-family: var(--job-font-family);
}
.job-button:hover{
  padding: 20px 80px;
}






/* Course page */
.course--style{
top:2rem;
margin-top: 200px;
}

.course-align{
  top:150px;
  left:80px;
  font-weight: 900;
}
.course-align:hover{
  box-shadow: 0px 0px 40px 10px rgb(255, 255, 255);
  border-radius: 10px;
}
/* button apply menu */
.course-hover:hover{
  filter: invert(100%);
  transition: filter 0.3s ease;
}
.course-hover-talk:hover{
  filter: invert(100%);
  transition: filter 0.3s ease;
  border-radius: 10px;
  font-weight: bold;
}



/* Bottom and footer page*/
footer{
  font-family: var(--footer-font-family);
 }
 .bottom{
   font-family: var(--footer-font-family);
 }
 
 .alef-style{
   font-family: var(--footer-font-family);
 }
 /* send message button -bottom page*/
 .send-message:hover{
    background-color:blue;   
    border-radius: 5px;
    transform: scale(1.1);
    animation: pulse 1s infinite;
 }
 @keyframes pulse {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
}
 /* hover of bottom and logo */
 .bottom-style:hover{
   color: blue;
 }
 .bottom-fontstyle:hover{
   background-color: rgb(216, 213, 213);
   padding: 5px;
   border-radius: 100px;
 }


