@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&family=Aleo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&family=Aleo&family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');



:root {
  --paraa-font-family:'Alegreya SC', serif;
  --head-font-family:'Alfa Slab One', serif;
  --bottom-font-family:'Aleo', serif;
  --footer-font-family:'Alef', sans-serif;
  --job-font-family:'Amaranth', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--head-font-family);
}

body{
  padding: 0;
  font-weight: 100;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Header position */
.head-style{
  font-family: var(--head-font-family);
}
.nav-menu {
  transition: background-color 1s ease, transform 10s ease;
  /* Other styles for .nav-menu */
}

/* Add these styles to your existing stylesheet */

.nav-menu {
  transition: transform 0.5s ease-in-out;
}

.nav-menu:hover {
  transform: translateY(-10px); 
}

.active-link {
  background-color: blue;
  padding: 15px 15px;
  border-radius: 30px;
  transform: translateY(-10px); 
  transform: translate(50px, 100px);
}



.one{
  background: linear-gradient(90deg, rgba(255,255,255,0.6), rgba(204, 204, 204, 0.1) 100%);
}
.two{
  background: linear-gradient(270deg, rgba(255,255,255,0.9), rgba(204, 204, 204, 0.4) 100%);
}




.explore-btn{
background: rgba(38, 86, 255, 1);
font-family: var(--head-font-family);
}






/* Bottom and footer */
footer{
 font-family: var(--footer-font-family);
}
.bottom{
  font-family: var(--footer-font-family);
}

.alef-style{
  font-family: var(--footer-font-family);
}



/* explore page 1,2,3,4,5 */
.para{
  font-family: var(--paraa-font-family);
}
.para-smallcase {
  font-family:'Alegreya', serif;
}
.bottom-aleo{
  font-family: var(--bottom-font-family);
}



/* JOBS application */
.job-styl{
  font-family: var(--paraa-font-family)
}
.job-jd{
  font-family: var(--job-font-family);
}

/* Service page */
.image--contact{
  top: 60%;
}
.image--contact--service8{
  top:70%;
}

/* carrer page */
.carrer-align{
  top: 100px;
  text-shadow: 1px .5px .5px black;
}
/* Course page */
.course--style{
top:2rem;
margin-top: 200px;
}




